name: Assign author to Pull request

on:
  pull_request:
    types: [ opened ]

jobs:
  assignAuthor:
    name: Assign author to PR
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      - name: Assign Author
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            const { owner, repo } = context.repo;
            const pull_number = context.payload.pull_request.number;
            const assignee = context.payload.pull_request.user.login;
            
            await github.rest.issues.addAssignees({
              owner,
              repo,
              issue_number: pull_number,
              assignees: [assignee]
            });
