name: Checks

on:
  pull_request:
    branches:
      - main

concurrency:
  group: checks-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changes:
    uses: ./.github/workflows/wc-changes.yml

  action:
    runs-on: ubuntu-24.04
    needs: changes
    if: needs.changes.outputs.action == 'true'
    permissions:
      checks: "write"
      contents: "read"
      pull-requests: "write"
    steps:
      # https://github.com/marketplace/actions/checkout
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          # NOTE: デフォルトブランチとの差分を確認するため、現在のコミット + オリジンを取得
          fetch-depth: ${{ github.event.pull_request.commits }} + 1
          ref: ${{ github.event.pull_request.head.sha }}

      # https://github.com/marketplace/actions/actionlint-with-reviewdog
      - uses: reviewdog/action-actionlint@95395aac8c053577d0bc67eb7b74936c660c6f66 # v1.67.0
        with:
          fail_level: error
          filter_mode: nofilter
          level: error
          reporter: github-pr-review

  semantic-pull-request:
    runs-on: ubuntu-24.04
    needs:
      - changes
    if: needs.changes.outputs.semantic_pr == 'true'
    steps:
      # https://github.com/marketplace/actions/create-github-app-token
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}

      # https://github.com/marketplace/actions/semantic-pull-request
      - uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017 # v5.5.3
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  status-check:
    runs-on: ubuntu-24.04
    needs:
      - action
      - semantic-pull-request
    permissions: { }
    if: failure()
    steps:
      - run: exit 1
